Carbon.allocation.likelihood.exp2013.Bobeica.1.12.csv
GrapevineXL_Super.gsz~
/GrapevineXL_Super_carbonOptimization_Lpmax_zhanwu.gsz~
/GrapevineXL_Super_carbonOptimization_Poni.gsz~
/GrapevineXL_Super_carbonOptimization_Poni2.gsz~
/GrapevineXL_Super_carbonOptimization_Poni_wide_exploration.gsz~
/GrapevineXL_Super_fruitCutting.gsz~
/GrapevineXL_Super_fruitCutting_water_stress.gsz~
